@{
    ViewData["Title"] = "Consultar Aluno";
}

<div class="text-center">
    <h2 class="display-4">Consulsatr Aluno</h2>
</div>

<table class="table table-striped" id="table-alunos">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">Escola</th>
      <th scope="col">Curso</th>
      <th scope="col">Situação</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>mark@gmail.com</td>
      <td>dinamis</td>
      <td>3 ano de medio</td>
      <td>Em andamento</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>jacob@gmail.vom</td>
      <td>ciencia da computação</td>
      <td>3º semestre</td>
      <td>Em andamento</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>larry@uol.com.br</td>
      <td>direito</td>
      <td>5º periodo</td>
      <td>Em andamento</td>
    </tr>
  </tbody>
</table>